/*needed or else space above header*/
html, *, body { margin: 0px; padding: 0px; }


  #logo{
    letter-spacing: 1.5px;
    font-size: 24px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 30px;
    margin-left: 100px;
  }
  
  #logo #inner{
    color: #823038;
    font-size: 32px;
    font-weight: bold;
  }

  .Header{
    height: 130px;
  }

  .Header .top {
    background-color: rgb(13, 45, 62);
    height: 50px;
    /*display:block;*/
  }
  
  .Header .top .hours {
    position:relative;
    color: white;
    left: 70px;
    top: 8px;
  }

  /*.Header .top .topText {
    float: right;
    color: white;
    margin-right: 70px;
    margin-top: 10px;
  }*/
  
  .Header .bottom {
    background-color: white;
    height: 80px;
    display: block;
  }
  
  .Header .bottom .bottomText{
    color:  rgb(13, 45, 62);
    margin-right: 100px;
  }

  /*to lower nav links*/
  .Header .bottom .bottomText .link{
    padding-top:12px;
  }
  
  .bottom .bottomText ul {
    list-style-type: none;
    background-color: white;
  }
  
  .bottom .bottomText ul li{
    float: right;
    font-size: 24px;
  }
  
  .bottom .bottomText ul li a {
    display: block;
    text-align: center;
    padding: 14px 30px;
    color: rgb(13, 45, 62);
    text-decoration: none;
    font-size: 18px;
  }
  
  .bottom .bottomText ul li a:hover:not(.active) {
    font-weight: bold;
    color:#823038;
  }

  
 
 
  