.password-toggle-icon{
    position:absolute;
    top: -40px;
    left: 365px;
    z-index: 1000;
    cursor: pointer;
    color: #adadad;
}
   

.errormsg {
    display:block;
    color: #FF0033;
    font-size: 12px;
   margin-top: -15px;
}