.main{
    width: 100%;
    background-color: rgb(247,247,247);
    
}



.list{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 55vh 55vh 55vh; 
    column-gap: 1vw;
    row-gap: 5vh;
    
    padding: 2em;
    border-radius: 1em;
    background-color: rgb(13, 45, 62);
    

}


h3 {
     margin-bottom: 30px;
}

.hour {
    margin-right: 30px;
    margin-left: 30px;
   margin-bottom: 30px;
   margin-top: 0;
   float:left;
}

.savebtn {
    color:white;
    background: rgb(13, 45, 62);
    padding: .2rem .4rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}