.banner {
    width: 100%;
    height: auto;
}

.text {
  position: absolute;
  /*top: 85%;
  left: 50%;*/
  font-size: 48px;
  color: rgb(13, 45, 62);
  float: left;
  bottom: 200px;
  margin-left: 150px;
}